In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering

In [2]:
crime=pd.read_csv("crime_data.csv")
crime.head(6)

   Unnamed: 0  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6
5    Colorado     7.9      204        78  38.7

In [3]:
crime.shape

(50, 5)

In [4]:
crime.isna().sum()

Unnamed: 0    0
Murder        0
Assault       0
UrbanPop      0
Rape          0
dtype: int64

In [5]:
crime.duplicated().sum()

0

In [6]:
crime1=crime.iloc[:,1:5]
crime1.head(6)

   Murder  Assault  UrbanPop  Rape
0    13.2      236        58  21.2
1    10.0      263        48  44.5
2     8.1      294        80  31.0
3     8.8      190        50  19.5
4     9.0      276        91  40.6
5     7.9      204        78  38.7

In [7]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [8]:
st_scaler = StandardScaler()
crime_scaler = st_scaler.fit_transform(crime1)
crime_scaler = pd.DataFrame(data=data_std, columns=['Murder','Assault','UrbanPop','Rape'])
crime_scaler.head(6)

NameError: name 'data_std' is not defined

In [ ]:
plt.figure(figsize=(15,6))
dendo = sch.dendrogram(sch.linkage(crime_scaler,'single'))

In [ ]:
plt.figure(figsize=(15,6))
dendo = sch.dendrogram(sch.linkage(crime_scaler,'complete'))

In [ ]:
plt.figure(figsize=(15,6))
dendo = sch.dendrogram(sch.linkage(crime_scaler,'average'))

In [ ]:
plt.figure(figsize=(15,6))
dendo = sch.dendrogram(sch.linkage(crime_scaler,'ward'))

In [ ]:
#model building and training
hc = AgglomerativeClustering(n_clusters=4,affinity='euclidean',linkage='complete')
hc

In [ ]:
#predicting the model
y_hc = hc.fit_predict(crime_scaler)
y_hc

In [ ]:
clusters = pd.DataFrame(y_hc,columns=['cluster'])
clusters.head()

In [ ]:
crime['clusters']= clusters
crime.head(6)

In [ ]:
crime['clusters'].value_counts()

In [ ]:
crime[crime['clusters']==0]

In [ ]:
crime[crime['clusters']==1]

In [ ]:
crime[crime['clusters']==2]

In [ ]:
crime[crime['clusters']==3]

In [ ]:
crime.groupby(by='clusters').agg(['mean']).reset_index()

In [ ]:
plt.figure(figsize=(15,8))
sns.scatterplot(crime['clusters'],crime['Unnamed: 0'],c=hc.labels_)
plt.show()